@import "tailwindcss";

/* prevent occasional horizontal overflow on small screens */
html,
body {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
